.header-container {
  padding: 0 15%;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 12px;
}

.header-links a {
  text-decoration: none;
}

.title-section-container {
  padding: 0 15%;
}

.title-section {
  display: flex;
  height: 300px;
}

.title-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.title-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-container {
  padding: 0 15%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 300px;
}

.information-box-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.information-image-holder {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 6px;
}

.info-para {
  width: 100px;
}